.modal-dialog {
	@extend %container;
	width: 100%;
	background-color: $color__brand-white;
	position: absolute;
	box-shadow: $box__shadow-default;

	.modal-header {
		background-color: $color__brand-secondary;
		color: $color__brand-white;
		padding: 0.5rem 2rem;
		font-size: rem(14px);
		letter-spacing: 0.05em;
	}
	.close {
		position: absolute;
		right: 0;
		background-color: inherit;
		padding: 0.5rem;
		box-shadow: none;
		border: none;

	}
	.modal-title {
		color: inherit;
	}

	.modal-body {
		padding: 2rem;
	}
	.modal-footer {
		display: none;
	}
}