<div class="socials">
	{% if this.theme.facebook %}<a href="{{this.theme.facebook}}" class="social facebook"><img src="{{ '/assets/images/fb.png'|theme }}" alt=""></a>{% endif %}
	{% if this.theme.twitter %}<a href="{{this.theme.twitter}}" class="social twitter"><img src="{{ '/assets/images/twitter.png'|theme }}" alt=""></a>{% endif %}
	<a href="/blog" class="social twitter"><img src="{{ '/assets/images/blog.png'|theme }}" alt=""></a>
	{% if this.theme.instagram %}<a href="{{this.theme.instagram}}" class="social instagram"><img src="{{ '/assets/images/instagram.png'|theme }}" alt=""></a>{% endif %}
	{% if this.theme.linkedin %}<a href="{{this.theme.linkedin}}" class="social linkedin"><img src="{{ '/assets/images/linked.png'|theme }}" alt=""></a>{% endif %}
</div>
