{% if post.url == '' %}
    {% set url = "/wpis/" ~ post.slug   %}
{% else %}
    {% set url = post.url   %}
{% endif %}

<div class='single-post'>
    {% if post.featured_images.count >= 1 %}
        {% set image = post.featured_images.first  %}
        <figure>
            <img data-src="{{ image.filename }}" src="{{ image.getThumb(999, 411, {'mode': 'crop'}) }}" alt="{{ image.description }}"/>
        </figure>
    {% endif %}

    <article>
        {# <p class='blog-meta'><small>{{ post.published_at|date('d F, Y') }}</small></p> #}
        <h3 class='post-title'><a href="{{ url }}">{{ post.title|raw }}</a></h3>
        <p class="excerpt">{{ post.summary|striptags|slice(0,255) }}&hellip;</p>
        {# <a href="{{ url }}" class="readmore">{{'Czytaj dalej'|_}} <svg viewBox='0 0 40 40'><use xlink:href='#more'></use></svg></a> #}
    </article>
</div>