<div class="grid-third competences">
    <div class="icon-box">
        <figure class='icon'>
            <svg viewBox='0 0 512 512'><use xlink:href='#elastic'></use></svg>
        </figure>
        <div class="content">
            {% content 'o-nas/elastycznosc' %}
        </div>
    </div>
    <div class="icon-box">
        <figure class='icon'>
            <svg viewBox='0 0 512 512'><use xlink:href='#close-icon'></use></svg>
        </figure>
        <div class="content">
            {% content 'o-nas/blisko' %}
        </div>
    </div>
    <div class="icon-box">
        <figure class='icon'>
            <svg viewBox='0 0 512 512'><use xlink:href='#full360'></use></svg>
        </figure>
        <div class="content">
            {%content 'o-nas/kompleksowo'%}
        </div>
    </div>
</div>