@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap");

.screen__reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.has-medium-font-size {
    font-size: 1.3rem;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    font-weight: 200;

    strong {
        display: block;
    }
}

h1 {
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

.box-title {
    margin: 0;
}

// h4{

// }

// h5{

// }

// h6{

// }

.center {
    text-align: center;
}

p,
ul,
ol,
blockquote {
    font-size: 1.2rem;
    // color: var(--color-text);
}

strong {
    font-weight: 400;
}

a:hover {
    color: var(--brand-yellow);
}

// .title{
//     border-top: var(--hr);
//     border-bottom: var(--hr);
// }

.overtitle {
    margin-top: 6rem;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    &:before {
        position: absolute;
        transform: translate(160%, -150%);
        content: "";
        display: inline-block;
        width: 9rem;
        height: 2.85rem;
        background-image: url(../images/bvmg-hr.svg);
        background-size: cover;
    }

    & + .marker {
        margin-top: 0;
    }
}

.lead {
    font-size: 1.3rem;
}

.marker {
    position: relative;
}
.blog-meta {
    margin-bottom: 0;
}
.post-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.page-title {
    position: relative;
    text-align: center;

    &:before {
        content: "";
        display: block;
        background-image: url(../images/bvmg-hr.svg);
        background-repeat: no-repeat;
        width: 9rem;
        height: 2.85rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;

        @media screen and (max-width: $size-mobile) {
            width: 104px;
            background-size: contain;
            height: 30px;
        }
    }
}

ol.roadmap {
    border-left: 1px dashed var(--brand-yellow);
    margin-left: 1rem;
    padding: 0;
    list-style: none;
    counter-reset: steps;

    li {
        counter-increment: steps;
        padding-left: 3rem;
        position: relative;
        margin-bottom: var(--spacing);

        &:before,
        &:after {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 2em;
            height: 2em;
            font-size: 1em;
            line-height: 2;
            font-weight: normal;
            left: -1rem;
            top: 0;
            content: "";
        }
        &:before {
            background-color: #fff;
            border: 1px solid var(--brand-yellow);
            transform: rotate(45deg) translateX(-2px);
        }

        &:after {
            content: counter(steps);
        }
    }
}
.brand-title {
    background-color: var(--brand-light-blue);
    text-align: center;
    padding: var(--size-padding);
    margin-top: var(--spacing);
    h1 {
        color: var(--white);
    }
}
